/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#topbar{
 background: transparent;
 padding: 0;
 height: 50px;
transition: all 0.5s;
z-index: 90;

}
/* NAV */
#nav{
  position:fixed;
  z-index: 2000;
 top:0;
  height: 70px;
  right: 0;
  left: 0;
}
.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: white;
}
.topnav-link{
padding:17px;
  color: white;
  text-decoration: none;
}
.topnav-link:hover{
  color: #ffb03b;
}

.navbar-toggler-icon{
  color: #ffb03b;
}
/* about */
#about{
  background-color: #fffaf3;
}

.fa-check-double{
  color: #ffb03b;
}
/* specials */
#specials {
  background-color: #fffaf3;
}
.nav-pills .nav-link.active {
  color: white;
  background-color: #ffb03b;
}

.special-list {
  border-right: 3px solid #ffb03b;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #ffb03b;
}

/* gallery */
.gallerypics{
  
  overflow: hidden;
}

/* events */
#events {
  min-height: 90vh;
  padding: 5% 10%;
  background: linear-gradient(
      0deg,
      rgba(18, 20, 20, 0.5),
      rgba(36, 40, 43, 0.5)
    ),
    url(./images/gallery9.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* chefs */
#chefs {
  min-height: 90vh;
  padding: 5% 10%;
  background: linear-gradient(
      0deg,
      rgba(123, 167, 164, 0.5),
      rgba(192, 204, 212, 0.5)
    ),
    url(./images/chefsbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* testimonials */
#testimonials {
  min-height: 90vh;
  padding: 5% 10%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(24, 26, 28, 0.5)),
    url(./images/testbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
